body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    text-align: center;
    width: 80%;
    position: relative;
}
input[type="number"] {
    width: 50px;
    text-align: center;
}
.circle-large {
    border: 2px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 10px auto;
}
.circle-small {
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.filled {
    background-color: black;
}
.attribute-box {
    text-align: left;
}
.attribute-box label {
    display: flex;
    align-items: center;
}
.attribute-label {
    display: inline-block;
    width: 120px;
}
.filled {
    background-color: black;
}
.image-preview {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 5px auto;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.hoja_personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    max-width: 90%; /* Limita el ancho máximo */
    margin: auto;
    transform: scale(0.9); /* Escala general para reducir tamaño */
}
